<div class="offset-by-six columns">
	<h1>Camila Cano</h1>
</div>
<div class="row">
<a href='/contact'>
		<img class="offset-by-four eight columns" src='./myface.jpg' />
</a>
<div class="row">
<h2 class="three columns">eat</h2>
<h2 class="three columns">sleep</h2> 
<h2 class="three columns">commute</h2>
</div>